.administra1{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.body2{

background-color: cornflowerblue;
margin-left: 30%;

}
 


.event1{

margin-left: 50%;

}